<div class="container-ricetta" *ngIf="ricetta; else noRicetta">
  <div class="ricetta-image" [ngStyle]="{'background-image': 'url(' + ricetta.image + ')'}"></div>
  <div class="container-ricetta-info">
    <div class="ricetta-title">
      <h2>{{ricetta.title}}</h2>
    </div>
    <div class="ricetta-description">
      <!-- <p>{{ricetta.description}}</p> -->
      <span [innerHTML]="ricetta.description"></span>
    </div>
    <div class="ricetta-difficulty">
      <p>Difficoltà:</p>
      <img [src]="percorsoStelline + ricetta.difficulty + '.png'" alt="" class="difficolta">
    </div>
    <div class="ricetta-date">
      <p>Ricetta pubblicata in data {{ricetta.date | date: 'fullDate'}}</p>
    </div>
  </div>
</div>
<ng-template #noRicetta>
  <div id="no-ricetta">
    <h2>Spiacenti, ma la ricetta richiesta non è più disponibile.</h2>
  </div>
</ng-template>
