.container-titolo {
  h2 {
    margin-top: 30px;
  };
  .paragrafo {
    color: black;
    font-size: 13px;
    text-align: justify;
  }
}

div#ultime-ricette {
  margin-top: 50px;
  text-align: center;

  h2 {
    margin-bottom: 10px;
  }
}
