.container-titolo {
  h2 {
    font-size: 35px;
    // font-family: 'Homemade Apple', cursive;
    font-family: 'PT Mono', monospace;
    color: #8e210b;
    margin-top: 30px;
  };
  .paragrafo {
    color: black;
    font-size: 13px;
    text-align: justify;
  }
}
