.container-titolo {
  h2 {
    font-size: 35px;
    // font-family: 'Homemade Apple', cursive;
    font-family: 'PT Mono', monospace;
    color: purple;
  };
  .paragrafo {
    color: green;
    font-size: 20px;
  }
}
