<app-header></app-header>
<app-home></app-home>

<!-- <input type="text" [(ngModel)]="coloreScelto"><button (click)="cambiaBG()">CAMBIA</button>

<div id="contenitore-switch" [ngSwitch]="colore" class="d-flex justify-content-center">
  <div *ngSwitchCase="'green'" [style]="'background-color: ' + colore">Questo div compare solo se il colore è VERDE</div>
  <div *ngSwitchCase="'red'" [style]="'background-color: ' + colore">Questo div compare solo se il colore è ROSSO</div>
  <div *ngSwitchCase="'blue'" [style]="'background-color: ' + colore">Questo div compare solo se il colore è BLU</div>
  <div *ngSwitchDefault style="background-color: black;">Questo div compare solo se no color found</div>
</div> -->

<app-footer></app-footer>

<router-outlet></router-outlet>
