<!-- <div class="container-form">
    <section class="vh-100">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-12 col-xl-11">
            <div class="card text-black">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>
                  <form class="mx-1 mx-md-4" #f="ngForm" (ngSubmit)="onSubmit(f.value)">

                    <div class="d-flex flex-row align-items-center mb-4">
                      <fa-icon [icon]="faUserTie" class="align-self-center icone-form"></fa-icon>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" name="name" class="form-control" placeholder="Scrivi il tuo nome" ngModel/>
                        <label class="form-label" for="name">Il tuo nome</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <fa-icon [icon]="faAt" class="align-self-center icone-form"></fa-icon>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" name="email" class="form-control" placeholder="Email" ngModel/>
                        <label class="form-label" for="email">La tua email</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <fa-icon [icon]="faKey" class="align-self-center icone-form"></fa-icon>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" name="password" class="form-control" placeholder="Password" ngModel/>
                        <label class="form-label" for="password">Password</label>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <fa-icon [icon]="faKey" class="align-self-center icone-form"></fa-icon>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" name="ripetiPassword" class="form-control" ngModel/>
                        <label class="form-label" for="ripetiPassword">Ripeti password</label>
                      </div>
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" name="terms" ngModel/>
                      <label class="form-check-label" for="terms">
                        Dichiaro di accettare i <a href="#!">Termini del servizio</a>
                      </label>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg">Registrati</button>
                    </div>
                  </form>
                </div>
                <div class="sfondo col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

 -->

 <div class="container-form">
  <section class="vh-100">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrati</p>
                <form class="mx-1 mx-md-4" #f="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <fa-icon [icon]="faUserTie" class="align-self-center icone-form"></fa-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="text" name="name" class="form-control" placeholder="Nome" formControlName="name" appChangeColor/>
                      <label class="form-label" for="name">Il tuo nome*</label>
                      <p class="help is-danger" *ngIf="!form.get('name').valid && form.get('name').touched">* Il campo nome è obbligatorio</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <fa-icon [icon]="chiocciola" class="align-self-center icone-form"></fa-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email"/>
                      <label class="form-label" for="email">La tua email*</label>
                      <p class="help is-danger" *ngIf="form.controls.email.hasError('required') && form.get('email').dirty">* Il campo email è obbligatorio</p>
                      <p class="help is-danger" *ngIf="form.controls['email'].hasError('email')">* Il campo email non contiene una email valida</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <fa-icon [icon]="chiave" class="align-self-center icone-form"></fa-icon>
                    <div class="form-outline flex-fill mb-0">
                      <!-- <input type="password" name="password" class="form-control" placeholder="Password" formControlName="password"/> -->
                      <p-password [toggleMask]="true" formControlName="password" strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$"></p-password>
                      <label class="form-label" for="password">Password*</label>
                      <p class="help is-danger" *ngIf="form.controls.password.hasError('required') && !form.get('password').dirty && form.get('password').touched">* Il campo password è obbligatorio</p>
                      <p class="help is-danger" *ngIf="form.controls.password.hasError('pattern')">* La password deve almeno contenere 1 numero, 1 minuscola, 1 maiuscola, 1 carattere speciale e lunga da 8-16 caratteri.</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <fa-icon [icon]="chiave" class="align-self-center icone-form"></fa-icon>
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" name="ripetiPassword" class="form-control" formControlName="ripetiPassword"/>
                      <label class="form-label" for="ripetiPassword">Ripeti password</label>
                      <p class="help is-danger" *ngIf="form.controls.ripetiPassword.hasError('required') && !form.get('ripetiPassword').dirty && form.get('ripetiPassword').touched">* Il campo ripeti password è obbligatorio</p>
                      <p class="help is-danger" *ngIf="form.getError('diversa') && form.get('ripetiPassword').touched">* Le password devono combaciare.</p>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <fa-icon [icon]="matita" class="align-self-center icone-form"></fa-icon>
                    <div class="form-outline flex-fill mb-0">
                      <!-- <input type="password" name="note" class="form-control" formControlName="note"/> -->
                      <ckeditor [editor]="Editor" [config]="editorConfig" class="note" formControlName="note"></ckeditor>
                      <label class="form-label" for="note">Note aggiuntive</label>
                    </div>
                  </div>

                  <div class="accordion" id="accordionTermini">
                    <div class="accordion-item">
                      <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#terminiServizio" aria-expanded="false" aria-controls="terminiServizio">
                          Visualizza i Termini di Servizio
                        </button>
                      </h3>
                      <div id="terminiServizio" class="accordion-collapse collapse" data-bs-parent="#accordionTermini">
                        <div class="accordion-body">
                          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <div class="check">
                      <input class="form-check-input me-2" type="checkbox" value="" name="terms" formControlName="terms"/>
                      <label class="form-check-label" for="terms">
                        Dichiaro di accettare le <a class="tasto-termini" (click)="open(modaleServizi)">clausole del servizio</a>.
                      </label>
                      <p class="help is-danger" *ngIf="!form.get('terms').valid && form.get('terms').touched">Per proseguire è necessario accettare</p>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!form.valid">Registrati</button>
                  </div>
                </form>
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex order-1 order-lg-2" style="position: relative;">
                <div class="sfondo" [ngStyle]="{'background-image': 'url(https://w.wallhaven.cc/full/0p/wallhaven-0py8oe.jpg)'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<ng-template #modaleServizi let-modal>
  <div class="modal-header">
    <h3 class="modal-title">Clausole del Servizio</h3>
    <button type="button" class="btn-close" aria-label="close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>
      <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-modal" (click)="modal.dismiss()">CHIUDI</button>
    <button type="button" class="btn btn-modal" (click)="modal.close()" ngbAutoFocus>AZIONE</button>
  </div>
</ng-template>

