/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./styles/colors.scss";

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.bg-red, header {
  background-color: $primary-color-1!important;
}

nav {
  margin-left: 30px;
}

#main-container {
  padding: 16px;
}

html, body { height: 100%; }

h2 {
  font-size: 35px!important;
  // font-family: 'Homemade Apple', cursive;
  font-family: 'PT Mono', monospace!important;
  color: $primary-color-1!important;
}

.icona-cibando
{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.carousel-caption {
  top: 27rem;
  bottom: auto;
  h3 {
    font-family: "Homemade Apple", cursive;
    font-size: 40px;
    text-shadow: $secondary-color-5 3px 3px 3px;
  }
}

.btn-primary {
  background-color: $primary-color-1!important;
  font-weight: 700!important;
  border: none!important;
}

.p-password, .p-inputtext {
  width: 100%!important;
  float: right;
  border-radius: 0.375rem!important;
}

.nav-icon {
  color: $secondary-color-1;
  font-size: 120%;
  margin-left: 5px;
}

.testoEvidenziato {
  background-color: yellow;
  width: 100%;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
